@charset 'utf-8';.detail_banner{overflow:hidden;height:3.62rem;padding:.3rem .2rem;background:#1f1f1f url(../images/banner_bg.png) 0 0 no-repeat}
.detail_banner dt{overflow:hidden;float:left;width:2.26rem;height:3.02rem;display:-webkit-flex;display:flex;align-items:center}
.detail_banner dd{position:relative;overflow:hidden;margin-left:2.46rem;padding:.07rem 0;height:3.02rem}
.detail_banner i{position:absolute;right:.1rem;top:-.18rem;color:#474747;font-family:"PingFang SC Medium";font-size:.4rem}
.detail_banner i:first-letter{font-size:.64rem}
.detail_banner h1{overflow:hidden;height:.48rem;margin-bottom:.2rem;padding-right:1.2rem;color:#fff;font-size:.34rem;font-weight:400;line-height:.48rem}
#anime_detail .detail_banner h1,#varie_detail .detail_banner h1{padding-right:0}
.detail_banner p{overflow:hidden;height:.38rem;color:#999;font-size:.22rem;line-height:.38rem}
.detail_banner p>a{color:#999}
.btn_wrap{overflow:hidden;position:absolute;bottom:0;width:100%;height:.6rem}
.btn_wrap a,.btn_wrap em{float:left;width:2.02rem;height:.6rem;background-color:#28ce6e;color:#fff;font-size:.28rem;text-align:center;line-height:.6rem;-webkit-border-radius:.3rem;border-radius:.3rem}
.btn_wrap .prev_btn{background-color:#f60}
.btn_wrap span{float:left;margin-left:.2rem;color:#999;font-size:.22rem;line-height:.6rem}
.detail_info{width:7.2rem;margin-bottom:.35rem}
.detail_info .collect{position:absolute;right:.25rem;top:0;z-index:99}
.detail_info .collect i{font-size:.35rem;font-weight:400}
.detail_info .info_title,.detail_info h2{position:relative;overflow:hidden;height:.9rem;padding:0 .94rem 0 .16rem;font-size:.32rem;font-weight:400;line-height:.9rem}
.detail_intr{overflow:hidden;border-top:1px solid #eee;padding:.15rem .16rem 0;margin-bottom:.3rem;font-size:.28rem;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;white-space:initial;text-overflow:ellipsis}
#anime_detail .detail_intr{-webkit-line-clamp:unset}
#anime_detail .more_open{display:none}
.detail_intr p{font-size:.28rem;line-height:.48rem}
.detail_intr em{position:relative;padding-right:.15rem}
.detail_intr em:after{content:"|";position:absolute;right:0;vertical-align:top;line-height:.43rem}
.detail_intr em:last-child:after{content:""}
.more_open{display:-webkit-flex;display:flex;flex-wrap:wrap;justify-content:center;align-items:center}
.more_open i{position:relative;width:.22rem;height:.22rem;margin-left:.1rem;line-height:.22rem;font-style:normal}
.more_open i:after{position:absolute;top:2px;left:0;font-size:.24rem;font-family:iconfont}
.more_open i.down:after{content:"\e6a2"}
.more_open i.up:after{content:"\e6a1"}
.hasOpen{-webkit-line-clamp:unset}
.main_actars{overflow:hidden}
.main_actars li{position:relative;float:left;width:20%}
.main_actars .star_head{width:1.06rem;margin:0 auto}
.main_actars .star_head dt{width:1.06rem;height:1.06rem}
.main_actars span{position:absolute;top:.76rem;right:15%;height:.3rem;padding:0 .1rem;background-color:#28ce6e;color:#fff;font-size:.22rem;line-height:.3rem;-webkit-border-radius:.3rem;border-radius:.3rem}
.select_show,.varie_select{padding-right:.14rem;margin-bottom:.3rem;-webkit-overflow-scrolling:touch}
.varie_select{padding-right:0}
.select_show a{display:block;width:1.2rem;height:1.2rem;margin-left:.14rem;background-color:#fafafa;font-size:.26rem;text-align:center;line-height:1.2rem;-webkit-border-radius:.1rem;border-radius:.1rem}
.varie_select .row_amuse{margin-right:-.06rem}
.varie_select li.row_amuse{margin-right:0}
.varie_select .row_amuse dl{margin-right:.06rem}
.varie_select .row_amuse a{width:auto;height:auto;margin-left:0}
.varie_select .row_amuse dd{text-align:left}
.varie_select li:last-child dl{margin-right:0}
.select_wrap{display:none;position:fixed;top:0;width:100%;max-width:7.2rem;height:100%;z-index:99999}
.select_popup{overflow:hidden;position:absolute;bottom:0;width:100%;height:0;background-color:#fff;z-index:9999999}
.popup_bg{position:absolute;top:0;width:100%;height:100%;z-index:9999;-webkit-overflow-scrolling:touch}
.popup_title{overflow:hidden;height:.9rem;padding:0 .14rem;line-height:.9rem}
.popup_title h2{float:left;font-size:.32rem}
.popup_close{position:relative;float:right;width:.9rem;height:.9rem;text-align:center;line-height:.9rem}
.popup_close i{position:absolute;top:0;left:.3rem;font-size:.28rem}
.select_popup .select_show{overflow-y:scroll}
.select_popup .select_show a{float:left;width:1.27rem;height:1.2rem;margin-bottom:.14rem;line-height:1.2rem}
.varie_select .select_show a{width:2.2rem}
.select_show a.new{background:#fafafa url(../images/new.png) right 0 no-repeat;background-size:.48rem .48rem}
.select_popup .top_container{height:.8rem;margin-bottom:.25rem;font-size:.26rem;line-height:.8rem}
.select_popup .top_container .swiper-slide{margin:0 .14rem;padding:0 .14rem}
.select_popup .top_container .on{position:relative;color:#28ce6e}
.select_popup .top_container .on:after{content:"";position:absolute;bottom:0;left:50%;margin-left:-.15rem;width:.3rem;height:.05rem;background-color:#28ce6e;-webkit-border-radius:.3rem;border-radius:.3rem}
.anime_fixed{overflow:hidden}
.anime_fixed li{float:left;width:25%}
.anime_fixed .star_head{width:1.16rem;margin:0 auto}
.anime_fixed .star_head dt{width:1.16rem;height:1.16rem}
.anime_fixed .star_head dd{height:.7rem;line-height:.7rem}
.stage_list .stage_nav{overflow:hidden;height:.62rem}
.stage_list h1,.stage_list span{float:left;width:50%;height:100%;font-size:.32rem;font-weight:400;text-align:center;line-height:2em}
.stage_list .on{position:relative;color:#28ce6e}
.stage_list .on:after{content:"";position:absolute;bottom:0;left:50%;width:.3rem;height:.05rem;margin-left:-.15rem;background-color:#28ce6e;-webkit-border-radius:.3rem;border-radius:.3rem}
.ent_play{width:100%;height:4.06rem}
.ent_play iframe{width:100%;height:100%}
.ent_info{padding:.25rem .22rem .2rem;border:1px solid #f8f8f8;border-left:0;border-right:0}
.ent_info h1{margin-bottom:.2rem;font-size:.34rem;font-weight:400;line-height:.48rem}
.ent_info p{color:#999;font-size:.22rem;line-height:.48rem}
.ent_info span{color:#999;margin-right:.25rem}
.app_open{display:block;width:6.6rem;height:.76rem;margin:.3rem auto;background-color:#28ce6e;color:#fff;font-size:.26rem;text-align:center;line-height:.76rem;-webkit-border-radius:.3rem;border-radius:.3rem}
#plot_detail .single_banner dt{height:auto}
#plot_detail .single_banner dd{padding:0 1.65rem 0 .12rem}
#plot_detail .single_banner h1,#plot_detail .single_banner p{overflow:hidden;height:.45rem;color:#fff;font-size:.22rem;text-align:left;line-height:.45rem;text-overflow:ellipsis;white-space:nowrap}
#plot_detail .single_banner h1{font-size:.26rem;font-weight:700}
.info_btn{position:absolute;bottom:.27rem;right:.12rem;width:1.4rem;height:.48rem;background-color:#28ce6e;color:#fff;font-size:.22rem;text-align:center;line-height:.48rem;-webkit-border-radius:.3rem;border-radius:.3rem}
.plot_nav{height:1.25rem;padding-top:.3rem}
.plot_nav li{margin-right:.2rem}
.plot_nav li:last-child{margin-right:0}
.plot_nav a{display:block;height:.6rem;padding:0 .4rem;background-color:#f8f8f8;font-size:.26rem;line-height:.6rem;-webkit-border-radius:.3rem;border-radius:.3rem}
.plot_info{border-top:1px solid #eee;padding:.3rem .3rem 0;margin-bottom:.6rem}
.plot_article,.plot_article p,.plot_info h2,.plot_info>span{color:#1c1c1c;font-size:.3rem;line-height:.55rem}
.plot_info h2,.plot_info>span{display:block;color:#28ce6e;margin-bottom:.2rem}
.news_change,.plot_change{position:relative;overflow:hidden;height:7rem;margin-bottom:.4rem}
#news_detail .more_open,#plot_detail .more_open,#star_detail .more_open,#update .more_open{position:absolute;bottom:0;width:100%;height:.8rem;color:#28ce6e;font-size:.28rem;text-align:center;background:-webkit-gradient(linear,0 0,0 60%,from(rgba(255,255,255,0)),to(#fff))}
#news_detail .hasOpen,#plot_detail .hasOpen{height:auto!important}
#news_detail .hasOpen .more_open,#plot_detail .hasOpen .more_open,#star_detail .hasOpen .more_open,#update .hasOpen .more_open{position:static}
.news_handel{height:1.2rem;border:1px solid #eee;border-left:0;border-right:0}
.news_handel .handel_left,.news_handel .handel_right{width:50%;height:100%;padding:0 3%}
.news_handel .handel_left{float:left;text-align:left;border-right:1px solid #eee}
.news_handel .handel_right{float:right;text-align:right}
.news_handel p{color:#999;font-size:.22rem;line-height:.6rem}
.news_handel h2,.news_handel span{overflow:hidden;display:block;height:.5rem;font-size:.22rem;line-height:.5rem;text-overflow:ellipsis;white-space:nowrap}
.list_top{overflow:hidden;height:.62rem}
.list_top a{position:relative;float:left;width:25%;height:100%;font-size:.32rem;text-align:center;line-height:2}
.list_top a.on{color:#28ce6e}
.list_bottom a.on:after,.list_top a.on:after{content:"";position:absolute;bottom:.01rem;left:50%;width:.3rem;height:.05rem;margin-left:-.15rem;background-color:#28ce6e;-webkit-border-radius:.4rem;border-radius:.4rem}
.list_bottom{overflow:hidden;height:.9rem}
.list_bottom em,.list_bottom span{height:100%;font-size:.32rem;line-height:1.05rem}
.list_bottom span{float:left}
.list_bottom em{float:right}
.list_bottom a{position:relative;display:block;padding:0 .17rem}
.list_bottom a.on:after{bottom:.2rem}
#list section{margin:.25rem 0 0}
#month .list_top{padding-top:.25rem;height:.87rem}
#month .list_top a{width:auto;padding:0 .25rem}
#month .list_top li{padding-left:.14rem}
#month .list_top{padding-right:.14rem}
.month_list{padding-top:.3rem}
.news_info{padding:.5rem .3rem .3rem;border-bottom:1px solid #f9f9f9}
.news_info h1{margin-bottom:.2rem;font-size:.44rem;text-align:center;line-height:.65rem}
.news_info p{overflow:hidden;height:.34rem;color:#999;font-size:.26rem;line-height:.34rem}
.news_info span{margin-right:.15rem}
.news_info span:last-child{margin-right:0}
.news_change{height:auto;padding-top:.2rem}
.news_article,.news_article p{color:#1c1c1c;font-size:.3rem;line-height:.55rem}
.news_article{padding:0 .3rem}
.news_article p{margin-top:.3rem}
#news_detail .row_tips{padding:0 .2rem;margin-top:-.15rem;justify-content:flex-start}
#news_detail .row_tips a,#news_detail .row_tips em{min-width:unset;padding:0 .15rem;margin:.26rem .1rem 0}
.tips_title{position:relative;height:.32rem;margin:0 .3rem .12rem;line-height:.32rem}
.tips_title h2{position:absolute;top:0;left:0;font-size:.26rem;padding-right:.15rem;background-color:#fff;z-index:9}
.tips_title:after{content:"";position:absolute;top:.15rem;left:0;display:block;width:100%;height:1px;background-color:#ddd}
.star_info{position:relative;padding:.3rem .2rem 0;margin-bottom:.2rem}
.star_info:after{content:"";position:absolute;top:0;left:0;width:100%;height:1.4rem;background-color:#1f1f1f;z-index:0}
.star_info dt{position:relative;overflow:hidden;float:left;width:2.26rem;height:3.02rem;z-index:9}
.star_info dd{position:relative;margin-left:2.45rem;height:3.02rem;padding-top:.48rem;z-index:9}
.star_info h1{overflow:hidden;height:.48rem;margin-bottom:.2rem;color:#fff;font-size:.34rem;line-height:.48rem}
.star_info p{overflow:hidden;height:.46rem;font-size:.22rem;line-height:.46rem}
.star_info span{position:relative;padding-right:.15rem;margin-right:.1rem}
.star_info span:after{content:"|";position:absolute;top:0;right:0;line-height:1.4}
.star_info span:last-child:after{content:""}
.star_change{padding:0 .2rem;margin-bottom:.4rem}
.star_article,.star_article p{font-size:.28rem;line-height:.48rem}
.star_article{overflow:hidden;max-height:auto}
#star_detail .hasOpen .star_article{max-height:unset}
.theme_wrap dl{position:relative;width:100%;height:3.35rem}
.theme_wrap dt{overflow:hidden;width:100%;height:100%}
.theme_wrap dd{position:absolute;bottom:.12rem;left:50%;width:6.4rem;height:.68rem;padding:0 .2rem;margin-left:-3.2rem;color:#000;text-align:center;line-height:.68rem;background-color:rgba(255,255,255,.9)}
.theme_wrap h1{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size:.4rem;font-weight:400}
.theme_info{padding:.15rem .14rem .3rem}
.theme_info p{margin-bottom:.2rem;overflow:hidden;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;white-space:initial;text-overflow:ellipsis;font-size:.28rem;line-height:.55rem}
#theme_detail .hasOpen p{-webkit-line-clamp:unset}
.update{overflow:hidden;position:relative;height:12rem;padding-top:.35rem;margin-bottom:.4rem}
.update_top{margin-top:.35rem}
#update .hasOpen{height:auto}
.update .text_list li{padding:0 .2rem}
.ranking{overflow:hidden;position:relative;width:100%;height:3.2rem}
.ranking dt{display:block;width:100%;height:100%}
.ranking dd{position:absolute;bottom:0;width:100%;height:.6rem}
.ranking .top_container .swiper-slide{width:25%;height:100%;color:#fff;font-size:.32rem;text-align:center;line-height:.6rem}
.ranking .top_container .on{position:relative;color:#28ce6e}
.ranking .top_container .on:after{content:"";position:absolute;bottom:0;left:50%;width:.3rem;height:.05rem;margin-left:-.15rem;background-color:#28ce6e;-webkit-border-radius:.3rem;border-radius:.3rem}
#ranking .bottom_container{margin-bottom:.4rem}
#ranking .bottom_container .swiper-slide.swiper-slide{width:100%}
#ranking .text_list li{display:block;width:100%}
#ranking .text_list{display:block;width:100%}
#ranking .text_list li a{display:block;flex-wrap:inherit;justify-content:inherit}
#ranking .text_list span{float:left}
#ranking .text_list em{float:right}
.map_list{overflow:hidden;padding-top:.3rem}
.map_list li{float:left;width:33.3%;height:1.5rem;margin-bottom:.2rem}
.map_list p{font-size:.3rem;text-align:center}
.map_list a{display:block;width:100%;height:100%}
.map_list span{display:block;width:.8rem;height:.8rem;margin:0 auto .12rem;background:url(../images/map.png) 0 0 no-repeat;background-size:.8rem 12rem}
.map_list .p1{background-position:0 0}
.map_list .p2{background-position:0 -.86rem}
.map_list .p3{background-position:0 -1.7rem}
.map_list .p4{background-position:0 -2.55rem}
.map_list .p5{background-position:0 -3.44rem}
.map_list .p6{background-position:0 -4.26rem}
.map_list .p7{background-position:0 -5.1rem}
.map_list .p8{background-position:0 -5.94rem}
.map_list .p9{background-position:0 -6.77rem}
.map_list .p10{background-position:0 -7.65rem}
.map_list .p11{background-position:0 -8.5rem}
.map_list .p12{background-position:0 -10.32rem}
.map_list .p13{background-position:0 -11.14rem}
.map_list .p14{background-position:0 -9.36rem}
.player .swiper-slide a.on,.player .swiper-slide a:hover,.select_shows a.on,.select_shows a:hover{background-color:#28ce6e;color:#fff}
